aside {
    display: inline-block;
    width: 250px;
}

.vmenu {
    min-height: 120px;
    width: 400px;
    background-color: darksalmon;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 0 2px red;
}

.vmenu a {
    display: block;
    border-bottom: 1px dotted orangered;
    color: white;
    font-variant: small-caps;
    font-size: large;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}

.head-vmenu {
    text-align: center;
    padding: 0;
    margin-top: 0px;
    line-height: 50px;
    background-color: red;
    color: white;
}

.vmenu li:hover>.inside {
    display: block;
    color: white;
}

.vmenu li a {
    position: relative;
    display: block;
}

.inside li a {
    list-style: none;
    text-decoration: none;
    background-color: wheat;
    color: orangered;
}

.inside li a:hover {
    color: white;
    background-color: orangered;
}

.vmenu li .inside {
    display: none;
    position: static;
}

.inside {
    list-style: none;
    ;
}